RewriteEngine On
Options All -Indexes

# Handle RewriteBase for subdirectory
RewriteBase /VENTAS/
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)$ index.php?views=$1 [L,QSA]

# If the request is not for an existing file, rewrite to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?views=$1 [L,QSA]